<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href={% static "css/mystyle.css" %} />
</head>
<body>
    <h1> {{name|title}} from third app Template view index.html</h1>
    <h2>How is Weather in {{city}} today</h2>
    <img src={% static "images/django.jpg" %} alt="image not found" />

    test changes.
</body>
</html>