<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <strong>This is a hello from myView.html which is inside templates folder , calling via second app.</strong>
    <p>name is {{name}}</p>
    <p>
        
    <label value="user name"/>
    
    <input type="text" value="{{name}}"/>
</p>
</body>
</html>